<script>
  const formDelete = document.querySelector("#form-delete")
  formDelete.addEventListener("submit", function (event) {
    const confirmation = confirm("Tem certeza que deseja DELETAR este produto?")
    if (!confirmation) {
      event.preventDefault()
    }
  })
</script>